@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --heading: #262626;
  --heading-sub: #112d4e; /* Old secondary default might change */
  --text: #3d3d3d;

  --primary-bg: #f9f7f7;
  --secondary-bg: #f1ebe4;
  --secondary-bg-weak: #f8f5f2;
  --secondary-bg-strong: #f0e6d8;

  /* --accent-bg: #f1ebe4;
  --accent-bg-weak: #f8f5f2; */

  --icon-bg: #f1ebe4;
  --icon-bg-strong: #f0e6da;
  --icon-bg-strongest: #efe1d1;
  --icon-stroke: #112d4e;

  --btn-bg: #0a0a0a;
  --btn-hover: ;
  --btn-active: ;

  --progress: ;
  --progress-text: ;
  --progress-btn: ;
  --progress-icon: ;

  --success: ;
  --success-text: ;
  --success-btn: ;
  --success-icon: ;

  --error: ;
  --error-text: ;
  --error-btn: ;
  --error-icon: ;

  --link: ;
  --link-hover: ;
  --link-active: ;

  --input-bg: ;
  --input-border: ;
  --input-focus: ;

  --card-bg: ;
  --card-border: ;
}

.dark {
  --heading: #f9f7f7;
  --heading-sub: #dbe2ef;
  --text: #d4d4d4;

  --primary-bg: #1a1a1a;
  --secondary-bg: #2c2c2c;
  --secondary-bg-weak: #333333;
  --secondary-bg-strong: #272727;

  --icon-bg: #2c2c2c;
  --icon-bg-strong: #3a3a3a;
  --icon-bg-strongest: #474747;
  --icon-stroke: #dbe2ef;

  --btn-bg: #f5f5f5;
  --btn-hover: ;
  --btn-active: ;

  --progress: ;
  --progress-text: ;
  --progress-btn: ;
  --progress-icon: ;

  --success: ;
  --success-text: ;
  --success-btn: ;
  --success-icon: ;

  --error: ;
  --error-text: ;
  --error-btn: ;
  --error-icon: ;

  --link: ;
  --link-hover: ;
  --link-active: ;

  --input-bg: ;
  --input-border: ;
  --input-focus: ;

  --card-bg: ;
  --card-border: ;
}
