@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --heading: #152823;
  --heading-sub: #1c352f;
  --text: #0e1b17;
  --text-placeholder: #488879;

  --primary-100: #fbf8f9;

  --primary-bg: var(--primary-100);

  --secondary-100: #e4f1ed;
  --secondary-200: #d7eae3;
  --secondary-300: #c9e3da;
  --secondary-500: #bbddd2;
  --secondary-700: #aed6c9;
  --secondary-900: #a0cfc0;

  --secondary-bg-weak: var(--secondary-300);
  --secondary-bg: var(--secondary-500);
  --secondary-bg-strong: var(--secondary-700);

  --icon-bg-weak: var(--secondary-300);
  --icon-bg: var(--secondary-500);
  --icon-bg-strong: var(--secondary-700);
  --icon-stroke: #1b362e;

  --btn-bg: var(--secondary-300);
  --btn-hover: var(--secondary-500);
  --btn-active: var(--secondary-700);

  --progress: ;
  --progress-text: ;
  --progress-btn: ;
  --progress-icon: ;

  --success: ;
  --success-text: ;
  --success-btn: ;
  --success-icon: ;

  --error: ;
  --error-text: ;
  --error-btn: ;
  --error-icon: ;

  --link: ;
  --link-hover: ;
  --link-active: ;

  --input-bg: ;
  --input-border: ;
  --input-focus: ;

  --card-bg: ;
  --card-border: ;
}

.dark {
  --heading: #f9f7f7;
  --heading-sub: #dbe2ef;
  --text: #d4d4d4;
  --text-placeholder: #737373;

  --primary-100: #1a1a1a;
  /*  */
  --primary-bg: var(--primary-100);

  --secondary-100: #515151;
  --secondary-200: #3a3a3a;
  --secondary-300: #333;
  --secondary-500: #2c2c2c;
  --secondary-700: #272727;
  --secondary-900: #1f1f1f;
  /*  */
  --secondary-bg-weak: var(--secondary-300);
  --secondary-bg: var(--secondary-500);
  --secondary-bg-strong: var(--secondary-700);

  --icon-bg: #2c2c2c;
  --icon-bg-strong: #3a3a3a;
  --icon-bg-strongest: #474747;
  --icon-stroke: #dbe2ef;

  --btn-bg: var(--secondary-300);
  --btn-hover: var(--secondary-500);
  --btn-active: var(--secondary-700);

  --progress: ;
  --progress-text: ;
  --progress-btn: ;
  --progress-icon: ;

  --success: ;
  --success-text: ;
  --success-btn: ;
  --success-icon: ;

  --error: ;
  --error-text: ;
  --error-btn: ;
  --error-icon: ;

  --link: ;
  --link-hover: ;
  --link-active: ;

  --input-bg: ;
  --input-border: ;
  --input-focus: ;

  --card-bg: ;
  --card-border: ;
}
