@tailwind base;
@tailwind components;
@tailwind utilities;

.light ::selection {
  background-color: var(--secondary-900);
  color: var(--secondary-100);
}
.dark ::selection {
  background-color: #b6b6b6;
  color: #000;
}

.light {
  --heading: #152823;
  --heading-sub: #1c352f;
  --text: #0e1b17;
  --text-weak: #596a66;
  --text-placeholder: #488879;
  --text-contrast: #fff;

  --primary-100: #fff;
  --primary-bg: var(--primary-100);

  --secondary-100: #f2f8f6;
  --secondary-200: #deeee8;
  --secondary-300: #d7eae3;
  --secondary-400: #c9e3da;
  --secondary-500: #b4d8cc;
  --secondary-600: #a0cfc0;
  --secondary-700: #152821;
  --secondary-800: #0e1b16;
  --secondary-900: #070d0b;

  --secondary-bg-weak: var(--secondary-300);
  --secondary-bg: var(--secondary-400);
  --secondary-bg-strong: var(--secondary-500);

  --accent-300: #dfd0ce;
  --accent-500: #cfb8b4;
  --accent-700: #bfa19b;
  --accent-900: #af8a83;

  --icon-bg-weak: var(--secondary-300);
  --icon-bg: var(--secondary-500);
  --icon-bg-strong: var(--secondary-700);
  --icon-stroke: #1b362e;

  --btn-bg: var(--secondary-300);
  --btn-hover: var(--secondary-400);
  --btn-active: var(--secondary-500);

  --main-button-bg: var(--secondary-700);
  --main-button-bg-hover: var(--secondary-800);
  --main-button-bg-active: var(--secondary-900);

  --scrollbar: var(--secondary-700);
  --checkbox: var(--text-weak);
  --focus-outline: var(--secondary-400);

  --loadingbar: #2c4f44;

  --progress: ;
  --progress-text: ;
  --progress-btn: ;
  --progress-icon: ;

  --success: ;
  --success-text: ;
  --success-btn: ;
  --success-icon: ;

  --error: ;
  --error-text: ;
  --error-btn: ;
  --error-icon: ;

  --link: ;
  --link-hover: ;
  --link-active: ;

  --input-bg: ;
  --input-border: ;
  --input-focus: ;

  --card-bg: ;
  --card-border: ;
}

.dark {
  --heading: #f9f7f7;
  --heading-sub: #dbe2ef;
  --text: #d4d4d4;
  --text-weak: #b3b3b3;
  --text-placeholder: #737373;
  --text-contrast: #000;

  --primary-100: #1a1a1a;

  --primary-bg: var(--primary-100);

  --secondary-100: #272727;
  --secondary-200: #2c2c2c;
  --secondary-300: #333;
  --secondary-400: #3a3a3a;
  --secondary-500: #403f3f;
  --secondary-600: #3a3a3a;
  --secondary-700: #d8d8d8;
  --secondary-800: #e5e5e5;
  --secondary-900: #f2f2f2;

  --secondary-bg-weak: var(--secondary-300);
  --secondary-bg: var(--secondary-400);
  --secondary-bg-strong: var(--secondary-500);

  --accent-300: #9a8b8a;
  --accent-500: #8c6f6b;
  --accent-700: #7a5e57;
  --accent-900: #6b4e47;

  --experimental-300: #454c51;
  --experimental-500: #3a3a3a;
  --experimental-700: #26292c;
  --experimental-900: #040405;

  --btn-bg: var(--secondary-300);
  --btn-hover: var(--secondary-400);
  --btn-active: var(--secondary-500);

  --main-button-bg: var(--secondary-700);
  --main-button-bg-hover: var(--secondary-800);
  --main-button-bg-active: var(--secondary-900);

  --icon-bg: #2c2c2c;
  --icon-bg-strong: #333;
  --icon-stroke: #dbe2ef;

  --scrollbar: #6d6d6d;
  --checkbox: #bababa;
  --focus-outline: var(--secondary-400);
  --loadingbar: #909090;

  --progress: ;
  --progress-text: ;
  --progress-btn: ;
  --progress-icon: ;

  --success: ;
  --success-text: ;
  --success-btn: ;
  --success-icon: ;

  --error: ;
  --error-text: ;
  --error-btn: ;
  --error-icon: ;

  --link: ;
  --link-hover: ;
  --link-active: ;

  --input-bg: ;
  --input-border: ;
  --input-focus: ;

  --card-bg: ;
  --card-border: ;
}
